In [35]:
#Import required libraries
from sklearn.datasets import load_iris
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import pandas as pd

In [36]:
#Load the Iris dataset
iris = load_iris()

In [37]:
#View the iris data keys
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [39]:
#it is a key of dictionary iris
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [40]:
##Convert data and target into a data frame.
#Extract the First 100 Features
X = pd.DataFrame(data = iris.data[:119,:], columns = iris.feature_names)
X.head(119) #Inspect the features

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
114                5.8               2.8                5.1               2.4
115                6.4               3.2                5.3               2.3
116                6.5               3.0                5.5               1.8
117                7.7               3.8                6.7               2.2
118                7.7               2.6                6.9               2.3

[119 rows x 4 columns]

In [41]:
#Target
y = pd.DataFrame(data=iris.target[:119], columns = ['irisType'])
y.head(119)

     irisType
0           0
1           0
2           0
3           0
4           0
..        ...
114         2
115         2
116         2
117         2
118         2

[119 rows x 1 columns]

In [42]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [44]:
# Create a Perceptron classifier mdlPercept = Perceptron()
mdlPercept = Perceptron()

In [45]:
# Train the classifier 
mdlPercept.fit(X_train, y_train)
# Make predictions on the test set
y_pred = mdlPercept.predict(X_test)
# Calculate accuracy of the classifier 
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
#Generate the Confusion Matrix
print("Perceptron Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.625
Perceptron Confusion Matrix:
 [[10  0  0]
 [ 6  5  0]
 [ 1  2  0]]

/opt/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [46]:
# Calculate accuracy of the classifier accuracy = accuracy_score(y_test, y_pred) print("Accuracy:", accuracy)
#Generate the Confusion Matrix
print(confusion_matrix(y_test, y_pred))

[[10  0  0]
 [ 6  5  0]
 [ 1  2  0]]